<div *ngIf="card" class="card">
    <div class="card-details">
        <span><strong>Card Number:</strong>{{card.card_number}}</span>
        <span><strong>Balance: </strong> {{card.balance}}</span>
    </div>
</div>
