@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.card{
    @include flex-decorate(column);
    border:2px solid $dark-blue;
    border-radius: 5px;
    margin:5px 0;
    &-details{
        display: flex;
        flex-direction: column;
        padding:10px;
    }
}