@mixin flex-decorate($position) {
    display: flex;
    justify-content: $position;
}

@mixin a-decorator($color, $case){
    text-decoration: none;
    color:$color;
    text-transform: $case;
}

@mixin border($px, $decor, $color){
    border: border($px, $decor, $color);
}

@function border($px, $decor, $color) {
  @return $px + 'px', $decor, $color;
}