@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.individual-person{
    @include flex-decorate(center);
    border:2px solid $border-color;
    border-radius:5px;
    width:300px;
    cursor: pointer;
    padding:10px;
    margin:5px;
    a{
        transition: .2s;
        @include a-decorator(black, uppercase);
        &:hover{
            font-size:20px;
        }
    }
}