.navigation-bar{
    border:1px solid black;
    padding:10px;
    background-color:black;
    text-align: center;
    a{
        text-decoration: none;
        color:#fff;
        padding:10px;
    }
}
.active{
    border:1px solid #fff;
}