@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size:50px;
    }
    &-details{
        display:flex;
        flex-direction: column;
        border:1px solid $border-color;
        padding:10px;
        border-radius:5px;
        font-size:20px;
    }

    &-card-section{
        margin:10px;
        padding:10px;
    }
    &-card-add{
        border:2px solid $border-color;
        padding:10px;
        display: flex;
        flex-direction: column;
        label{ 
            display: flex;
            align-items: center;
            flex-direction: column;
            margin:10px;
            input{
                width:100%;
                border:1px solid black;
                border-radius:5px;
                font-size:15px;
                padding:10px;
            }
        }
        button{
            border:1px solid black;
            padding:10px;
            font-size:15px;
        }
    }
}