<div *ngIf="person" class="person">
    <h2>{{person.first_name}}'s Details</h2>
    <div class="person-details">
        <span><strong>Id:</strong> {{person.id}}</span>
        <span><strong>Name:</strong> {{person.first_name}} {{person.last_name}}</span>
        <span><strong>Email:</strong> {{person.email}}</span>
    </div>

    <div class="person-card-section">
        <div class="person-card-add">
            <label>
                <span>Add a new card number:</span>
                <input type="text" #card_number placeholder="card number..." />
            </label>
            <button (click)="addCard(card_number.value)">Add card</button>
        </div>
        
        <div class="person-card-list">
            <h2>{{person.first_name}}'s credit cards</h2>
            <app-card *ngFor="let card of cards" [card]="card"></app-card>
        </div>
    </div>
</div>